/* * {
   background-color: red;
 } */

nav {
    text-align: center;   
}

h1 {
   text-align: center;   
}

 .line {
    border: 1px solid violet;
 }

tr {
   text-align: center;
}

.name {
   text-align: left;
}



